<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.tag</package>
	<author>jtatia</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.tag.TagActivator</activator>
	
	<!-- /Base Module Properties -->
	
	<require_version>${openmrsPlatformVersion}</require_version>

	<require_modules>
		<require_module version="${appframeworkVersion}">
			org.openmrs.module.appframework
		</require_module>
		<require_module version="${uiframeworkVersion}">
			org.openmrs.module.uiframework
		</require_module>
		<require_module version="${uicommonsModuleVersion}">
			org.openmrs.module.uicommons
		</require_module>
		<require_module version="${appuiVersion}">
			org.openmrs.module.appui
		</require_module>
		<require_module version="${webServicesRestVersion}">
			org.openmrs.module.webservices.rest
		</require_module>
	</require_modules>


	<mappingFiles>
		Tag.hbm.xml
	</mappingFiles>

	<privilege>
		<name>Manage Tags</name>
		<description>Allows users to add,edit,view and remove tags from an object</description>
	</privilege>
	<privilege>
		<name>Get Tags</name>
		<description>Allows users to view tags</description>
	</privilege>
	<privilege>
		<name>View Objects</name>
		<description>Allows users to view objects, with given tag</description>
	</privilege>


	<!-- Internationalization -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>

